
<p>This will be the list of favorites that the user will be able to scroll through (do we want it to be ordered by date?)</p>
   <div class="FixedHeightContainer">
    <h2>Favorited News</h2>

    <div class="Content">
        <style>
            .FixedHeightContainer
            {
              float: left;
              height: 250px;
              width:250px;
              padding:3px;
            }
            .Content
            {
              height:224px;
                overflow:auto;
                background:#fff;
            }
        </style>
        <ul>
            <li>
                news 1
            </li>
            <li>
                news 2
            </li>
            <li>
                news 3
            </li>
            <li>
                news 4
            </li>
            <li>
                news 1
            </li>
            <li>
                news 2
            </li>
            <li>
                news 3
            </li>
            <li>
                news 4
            </li>
            <li>
                news 1
            </li>
            <li>
                news 2
            </li>
            <li>
                news 3
            </li>
            <li>
                news 4
            </li>
            <li>
                news 1
            </li>
            <li>
                news 2
            </li>
            <li>
                news 3
            </li>
            <li>
                news 4
            </li>
        </ul>
    </div>
  </div>
